[submodule "app/src/main/assets/javascript/common"]
	path = app/src/main/assets/javascript/common
	url = git@github.com:mircealungu/Zeeguu-CommonJS.git
[submodule "zeeguulibrary"]
	path = zeeguulibrary
	url = git@github.com:linusschwab/zeeguu-android-library.git
